/* .wrapper{
    /* display: flex;
    flex-direction: column; */
    /* border: 2px solid blue; */

/* } */
/* .row component{ */
    /* display: flex; */ 
/* } */

.col-2{
    display: flex;
    justify-content: center;
    /* word-spacing: 30px; */
    border: 1px solid blue;
    /* word-spacing: 10px; */
}