<div class="container">
  <h1>Buttons</h1>
  <mat-divider></mat-divider>
  <div class="btn-wrapped mt-3">
    <mat-card class="btn-card">
      <h4>Basic Buttons</h4>
      <div class="btn-row">
        <button mat-button>subscribe TechGuru</button>
        <button mat-button color="primary">primary</button>
        <button mat-button color="accent">accent</button>
        <button mat-button color="warn">warn</button>
        <button mat-button color="warn" disabled="true">warn</button>
        <a mat-button color="primary" href="https://www.w3schools.com/">Link</a>
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h4>Raised Buttons</h4>
      <div class="btn-row">
        <button mat-raised-button>subscribe TechGuru</button>
        <button mat-raised-button color="primary">primary</button>
        <button mat-raised-button color="accent">accent</button>
        <button mat-raised-button color="warn">warn</button>
        <button mat-raised-button color="warn" disabled="true">warn</button>
        <a mat-raised-button color="primary" href="https://www.w3schools.com/"
          >Link</a
        >
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h4>stroked Buttons</h4>
      <div class="btn-row">
        <button mat-stroked-button>subscribe TechGuru</button>
        <button mat-stroked-button color="primary">primary</button>
        <button mat-stroked-button color="accent">accent</button>
        <button mat-stroked-button color="warn">warn</button>
        <button mat-stroked-button color="warn" disabled="true">warn</button>
        <a mat-stroked-button color="primary" href="https://www.w3schools.com/"
          >Link</a
        >
      </div>
    </mat-card>

    <mat-card class="btn-card">
      <h4>flat Buttons</h4>
      <div class="btn-row">
        <button mat-flat-button>subscribe TechGuru</button>
        <button mat-flat-button color="primary">primary</button>
        <button mat-flat-button color="accent">accent</button>
        <button mat-flat-button color="warn">warn</button>
        <button mat-flat-button color="warn" disabled="true">warn</button>
        <a mat-flat-button color="primary" href="https://www.w3schools.com/"
          >Link</a
        >
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h4>Icon Buttons</h4>
      <div class="btn-row">
        <button mat-icon-button color="primary">
          <mat-icon><span >menu</span></mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon><span>maps_home_work </span></mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon><span>
            arrow_downward
            </span></mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon><span>
            arrow_forward
            </span></mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon><span>
            filter_list
            </span></mat-icon>
        </button>
      </div>
    </mat-card>
    <mat-card class="btn-card">
        <h4>fab Buttons</h4>
        <div class="btn-row">
          <button mat-fab color="primary">
            <mat-icon><span >menu</span></mat-icon>
          </button>
          <button mat-fab color="accent">
            <mat-icon><span>maps_home_work </span></mat-icon>
          </button>
          <button mat-fab color="warn">
            <mat-icon><span>
              arrow_downward
              </span></mat-icon>
          </button>
          <button mat-fab color="primary">
            <mat-icon><span>
              arrow_forward
              </span></mat-icon>
          </button>
          <button mat-fab color="accent">
            <mat-icon><span>
              filter_list
              </span></mat-icon>
          </button>
        </div>
      </mat-card>
      <mat-card class="btn-card">
        <h4>mini fab Buttons</h4>
        <div class="btn-row">
          <button mat-mini-fab color="primary">
            <mat-icon><span >menu</span></mat-icon>
          </button>
          <button mat-mini-fab color="accent">
            <mat-icon><span>maps_home_work </span></mat-icon>
          </button>
          <button mat-mini-fab color="warn">
            <mat-icon><span>
              arrow_downward
              </span></mat-icon>
          </button>
          <button mat-mini-fab color="primary">
            <mat-icon><span>
              arrow_forward
              </span></mat-icon>
          </button>
          <button mat-mini-fab color="accent">
            <mat-icon><span>
              filter_list
              </span></mat-icon>
          </button>
        </div>
      </mat-card>
  </div>
</div>
